<!DOCTYPE html>
<html>
<head>
   <base href="/public">
   <%- include('css') %>
   <script src="dist/sweetalert.min.js"></script>
   <link rel="stylesheet" type="text/css" href="dist/sweetalert.css">
   <style>
      .evaluate{
         margin-left: 20px; 
         border-left: solid #dad7d7 1px; 
         font-size: 13pt; 
         padding-top: 3px; 
         padding-left: 20px;
      }
      .btnAdd{
         margin-top: 20px; 
         width: 100%; 
         font-size: 30px;
      }
      .card-inner {
        margin-left: 4rem;
      }
      .img-account-profile {
        height: 10rem;
        border: 1px solid #000;
        border-radius: 50%;
        height: 150px;
        width: 150px;
      }
      @media(max-width:380px) {
         .fillComment {
            height: 10px;
            width: 70vw;
         }
         .allComment {
            padding-left: 20%;
            font-size: 20px;
         }
         .evaluate{
            margin-left: 5px;
            font-size: 9pt;
            padding-left: 6px;
         }
         .bi-star-fill, .fa-star{
            height: 12px;
            width: 12px;
         }
         .btnAdd{
            font-size:20px;
         }
         .img-account-profile{
            height: 100px;
            width: 100px;
         }
         p strong{
            font-size: 15px;
         }
         .card-inner {
            margin-left: 2rem;
         }
      }
   </style>
</head>

<body>
   <div class="hero_area">
    <%- include('header') %>
      <section class="product_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-md-6 text-center">
                  <div class="border rounded-4 mb-3 d-flex justify-content-center">
                       <img style="max-width: 100%; max-height: 60vh; margin: auto;" class="rounded-4 fit" src="<%= product.image %>" />
                   </div>
               </div>
               <div class="col-md-6">
                  <h3><%= product.title %></h3>
                  <!-- show 5 stars -->
                  <ul style="display: flex; list-style-type: none; margin: 0px; padding: 0px;">
                     <li style="color: orange; font-size: 13pt; padding-top: 2px; margin-right: 5px;" class="evaluate">5.0</li>
                     <% for(let i = 0; i <5 ; i++) { %>
                     <li style="color: orange; padding: 2px;">
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-star-fill" viewBox="0 0 16 16">
                                 <path
                                    d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z">
                                 </path>
                              </svg>
                    </li>
                     <% } %>
                     <li class="evaluate">
                        <%= replies.length+comments.length%> Đánh giá
                     </li>
                     <li class="evaluate">
                        <%= orders.length%> Đã bán
                     </li>
                  </ul>
                  <p style="color: red; font-size: 30px; margin-top: 15px; margin-bottom: 15px;">
                    <%= (product.discount_price > 0) ? numberFormat(product.discount_price) : numberFormat(product.price) %> VND</p>
                  <p
                     style="color: grey; font-size: 15px; margin-top: 15px; margin-bottom: 15px; text-decoration: line-through;">
                     <del><%= numberFormat(product.price) %> VND</del>
                  </p>
                  <div class="d-flex flex-container">
                     <form id="quantity-form" style="display:inline-block;" action="/add_cart/<%= product._id%>" method="POST" ></form>
                     <div>
                        <button class="btn btn-light" style="border: 1px solid #e0dede; border-radius: 0px;"
                           onclick="addMoreCart(-1)">-</button>
                     </div>
                     <div>
                           <input type="number" name="quantity" class="form-control" step=1 value="1" style="max-width:70px; 
            border: 1px solid #e0dede; border-radius: 0px; text-align: center;" onchange="fixCartNum()">
                     </div>
                     <div>
                        <button class="btn btn-light" style="border: 1px solid #e0dede; border-radius: 0px;"
                           onclick="addMoreCart(1)">+</button>
                     </div>
                     <div>
                        <p style="margin: 8px 0px 10px 10px;"><strong>Number</strong>: <% if(product.quantity > 0) { %> <%= product.quantity%> products <% }else { %><label style="color: red; font-weight: 500;">hết hàng</label><%}%></p>
                    </div>
                  </div>
                  <button class="btn btn-success btnAdd" 
                        <% if(token != null) { %>
                        data-product-quantity="<%= product.quantity %>" onclick="handleAddToCart(this)">
                        <% } else { %>
                        onclick="checkToken()">
                        <% } %>
                     <i class="bi bi-cart4"></i> Thêm vào giỏ hàng
                  </button>
                  </form>
                     <button class="btn btn-secondary btnAdd" disabled
                     style="background: #edebeb; border: none; color: #000;">
                     <i class="bi bi-bookmark-heart-fill"></i> Đã yêu thích</button>
               </div>
               <div class="col-md-12" style="margin-top: 50px;">
                  <h4>Mô tả sản phẩm</h4>
                  <p><%= product.description %></p>
                  <div>
                     <p>Sản phẩm này được chế tác từ những vật liệu chất lượng cao, đảm bảo độ bền và hiệu suất vượt trội. Với thiết kế tinh tế và hiện đại, sản phẩm phù hợp cho cả sử dụng hàng ngày lẫn các dịp chuyên nghiệp. Được sản xuất với công nghệ tiên tiến, sản phẩm mang đến trải nghiệm sử dụng mượt mà và thoải mái, đáp ứng nhu cầu của mọi đối tượng khách hàng.</p>
                     <ul>
                        <li>Chất liệu cao cấp, bền bỉ theo thời gian, chống mài mòn và thân thiện với môi trường.</li>
                        <li>Thiết kế công thái học, mang lại sự thoải mái tối đa khi sử dụng trong thời gian dài.</li>
                        <li>Có sẵn trong nhiều màu sắc thời thượng, giúp bạn dễ dàng lựa chọn theo phong cách cá nhân.</li>
                        <li>Dễ dàng vệ sinh và bảo trì, giữ cho sản phẩm luôn như mới sau thời gian dài sử dụng.</li>
                        <li>Đi kèm chế độ bảo hành 12 tháng, đảm bảo sự an tâm tuyệt đối cho khách hàng.</li>
                        <li>Phù hợp cho nhiều mục đích sử dụng: tại nhà, văn phòng, hoặc khi di chuyển.</li>
                        <li>Thiết kế nhỏ gọn, dễ dàng mang theo, phù hợp với lối sống năng động.</li>
                     </ul>
                     <p>Cho dù bạn đang tìm kiếm một sản phẩm để nâng cao hiệu suất làm việc, tô điểm cho phong cách cá nhân hay đơn giản là muốn sở hữu một món đồ đáng tin cậy, sản phẩm này chắc chắn sẽ đáp ứng mọi kỳ vọng của bạn. Hãy trải nghiệm sự khác biệt với chất lượng và thiết kế đỉnh cao!</p>
                  </div>
               </div>
               <div class="col-md-12">
                  <h4 style="text-align:center;">Sản phẩm liên quan</h4>
               </div>
               <% for ( let item of productList) { %>
               <div class="col-sm-6 col-md-4 col-lg-4">
                  <div class="box">
                     <div class="optio
n_container">
                        <div class="options">
                           <a href="/product_details/<%=item.id%>" class="option1">
                            <%= item.title%>
                           </a>
                           <form action="/add_cart/<%=item.id%>" method="POST">
                              <input type="number" name="quantity" value="1" min="1" style="width:100px;" hidden>
                              <input type="submit" value="Mua ngay" class="option2" style="border-radius: 30px;">
                           </form>
                        </div>
                     </div>
                     <div class="img-box">
                        <img src="<%=item.image%>" alt="">
                     </div>
                     <div class="detail-box">
                        <h5>
                            <%=item.title%>
                        </h5>
                        <% if(item.discount_price > 0) {%>
                        <h6 style="color:red;">
                        Giảm giá</br>
                        <%= numberFormat(item.discount_price)%>
                        </h6>
                        <h6 style="text-decoration:line-through;">
                        Giá gốc</br>
                        <%= numberFormat(item.price)%>
                        </h6>
                        <% } else {%>
                        <h6>
                        Giá</br>
                        <%= item.price%>
                        </h6>
                        <% } %>
                     </div>
                  </div>
               </div>
               <% } %>
            </div>
         </div>
      </section>
   </div>
   <!-- end client section -->
   <!-- comment section -->
   <%- include('comment_reply') %>
   <!-- end comment section -->
   <!-- footer start -->
   <%- include('footer') %>
   <!-- footer end -->
</body>

<script type="text/javascript">
   function addToCart() {
      event.preventDefault();
      var quantity = document.querySelector('[name=quantity]').value;
      var productId = '<%= product._id %>';
      var xhr = new XMLHttpRequest();
      xhr.open("POST", "/add_cart/" + productId, true);
      xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
      xhr.onreadystatechange = function() {
         if (this.readyState == 4 && this.status == 200) {
            event.preventDefault();
            Swal.fire({
               title: 'Thêm sản phẩm thành công!',
               icon: 'success',
               confirmButtonText: 'Đồng ý'
            }).then((result) => {
               if (result.isConfirmed) {
                  window.location.reload();
               }
            });
         }
      };
      xhr.send("quantity=" + quantity);
   }

   function addMoreCart(delta) {
      event.preventDefault(); // Ngăn chặn hành động mặc định
      var num = parseInt(document.querySelector('[name=quantity]').value);
      num += delta;
      if (num < 1) num = 1;
      document.querySelector('[name=quantity]').value = num;
   }

   function fixCartNum() {
      $('[name=quantity]').val(Math.abs($('[name=quantity]').val()));
   }

   function checkQuantity() {
      Swal.fire({
         title: "số lương hết rồi ",
         text: 'Số lượng sản phẩm không đủ để đáp ứng yêu cầu của bạn!',
         icon: 'warning',
         confirmButtonText: 'Đồng ý',
      })
   }

   function handleAddToCart(button) {
    var productQuantity = parseInt(button.getAttribute('data-product-quantity'));
    var requestedQuantity = parseInt(document.querySelector('[name=quantity]').value);

      if (requestedQuantity > productQuantity) {
         // Hiển thị thông báo nếu số lượng yêu cầu lớn hơn số lượng có sẵn
         checkQuantity();
      } else {
         // Thêm vào giỏ hàng nếu số lượng đủ
         addToCart();
      }
   }

   function Favorite() {
      Swal.fire({
         title: 'Thêm thành công',
         text: 'Sản phẩm đã được thêm vào danh sách yêu thích!',
         icon: 'success',
         confirmButtonText: 'Đồng ý',
      })
   }

   function checkFavorite() {
      Swal.fire({
         title: 'Không thành công',
         text: 'Bạn đã thêm sản phẩm này vào danh sách yêu thích trước đó!',
         icon: 'warning',
         confirmButtonText: 'Đồng ý',
      })
   }
</script>

</html>